.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  max-height: 400px;
  min-width: 220px;
  padding: 15px;
  width: 100%;
  background-color: white;
  z-index: 1;
  border-radius: 20px 20px 20px 20px;
}

.product-description {
  height: 100px;
  margin-bottom: 15px;
  text-align: justify;
  margin-bottom: 20px;
}
.product-category-text {
  margin-bottom: 10px;
}
.product-title {
  padding-top: 15px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
}
.product-description-text {
  font-size: 14px;
}
.product-price {
  margin-top: 5px;
}
.product-rating {
  display: flex;
  flex-direction: row;
}

.product > img {
  width: 100%;
  max-height: 200px;
  object-fit: contain;
  margin-top: 25px;
  margin-bottom: 20px;
}

.product > button {
  background-color: rgb(102, 207, 207);
  border: none;
  padding: 5px;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
  transform: scale(0.9);
  transition: 0.3s all ease;
}

.products-list-main {
  z-index: 1;
}

.products-list-main {
  padding: 30px;
  --n: 3; /* number of rows*/
  --m: 3; /* number of columns */
  --g: 20px; /* control the gap */
  --f: 1.5; /* control the scale factor */

  display: grid;
  gap: var(--g);
  width: calc(var(--m) * var(--s) + (var(--m) - 1) * var(--g));
  height: calc(var(--n) * var(--s) + (var(--n) - 1) * var(--g));
  grid-template-columns: repeat(var(--m), auto);
}
