.nav-container {
  width: 100wh;
  background-color: rgb(6, 6, 5);
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.nav-links {
  display: flex;
  justify-content: space-evenly;
}
.right-link {
  color: white;
  text-decoration: none;
}
.link-option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}

.link-option-one {
  font-size: 10px;
}

.link-option-two {
  font-size: 13px;
  font-weight: 800;
}

.link-option-cart {
  display: flex;
  align-items: center;
}

.cart-count {
  margin-left: 5px;
  margin-right: 20px;
}

.nav-logo {
  width: 110px;
  object-fit: contain;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.search {
  display: flex;
  flex: 1;
  border: none;
}
.nav-searchInput {
  width: 100%;
  border: none !important;
  height: 25px;
  border-radius: 0 !important;
  margin-bottom: 0 !important;
  outline: none;
}
.nav-searchIcon {
  background-color: rgb(149, 202, 218);
  border: none !important;
  height: 25px !important;
}
